# === Python estándar ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# === Entornos virtuales ===
.venv/
env/
venv/

# === Configuración IDEs ===
.vscode/
.idea/
*.swp
*.swo

# === Archivos temporales del sistema ===
.DS_Store
Thumbs.db

# === Carpetas/archivos de prueba locales ===
carpeta/
prueba.txt
prueba_organizador/
